body {
  font-family: sans-serif;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-size: contain;
  color: #EBDF23;
}
h1 {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}
.image {
  float: right;
  border: 5px solid white;
  margin: 5px;
}
.hobbies {
  float: left;
}
.first {
  float: left;
}
.img {
  float: left;
  width: 73%;
}
.title {
  color: black;
  text-decoration: underline;
  font-weight: 900;
  font-style: italic;
}
h2 {
  text-decoration: underline;
}
